<div class="portfolio-details">
  <h2>Portfolio <span>{{ portfolio.InterventionCode }}</span> details</h2>
  <p>Intervention Id - <span>{{ portfolio.InterventionID }}</span></p>
  <p>Intervention Code - <span>{{ portfolio.InterventionCode }}</span></p>
  <p>Short Name - <span>{{ portfolio.ShortName }}</span></p>
  <p>Title - <span>{{ portfolio.Title }}</span></p>
  <p>Description - <span>{{ portfolio.Description }}</span></p>
  <p>Country - <span>{{ portfolio | country | async }}</span></p>
  <p>Status - <span>{{ portfolio | status | async }}</span></p>
  <p>Last Update By - <span>{{ portfolio | user | async }}</span></p>
  <p>Actual Start on - <span>{{ portfolio.ActualStartDate | date : "fullDate" }}</span></p>
  <p>Last Update On - <span>{{ portfolio.DateUpdated | date : "fullDate" }}</span></p>
</div>



